<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/home/css/home.css" />
    <title>Web Design Siza | SIZA - Hotel Management</title> </head>

<body>
    <nav>
        <div class="nav__header">
            <div class="nav__logo">
                <a href="#" class="logo">SIZA</a>
            </div>
            <div class="nav__menu__btn" id="menu-btn">
                <i class="ri-menu-line"></i>
            </div>
        </div>
        <ul class="nav__links" id="nav-links">
            <li><a href="#home">HOME</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#room">ROOM</a></li> <li><a href="#package">PACKAGE</a></li>
            <li><a href="#contact">CONTACT</a></li>
        </ul>
        <div class="nav__btns">
            <a href="/login" class="btn" style="background-color: black;">login</a>
        </div>
    </nav>

    <header id="home">
        <div class="header__container">
            <div class="header__content">
                <p>ELEVATE YOUR STAY</p> <h1>Experience Unforgettable Hospitality!</h1> <div class="header__btns">
                     
                        <span><i class="ri-play-circle-fill"></i></span>
                    </a>
                </div>
            </div>
            <div class="header__image">
                <img src="/home/img/header.png" alt="header" /> </div>
        </div>
    </header>

    <section class="section__container destination__container" id="about"> <h2 class="section__header">Our Featured Hotels</h2> <p class="section__description">
            Discover Our Most Acclaimed Hotel Locations </p>
        <div class="destination__grid">
            <div class="destination__card">
                <img src="/home/img/destination-1.jpg" alt="hotel location" /> <div class="destination__card__details">
                    <div>
                        <h4>Luxury City Stay</h4> <p>MBOMBELA, SA</p>
                    </div>
                    <div class="destination__rating">
                        <span><i class="ri-star-fill"></i></span> 4.7
                    </div>
                </div>
            </div>
            <div class="destination__card">
                <img src="/home/img/destination-2.jpg" alt="hotel location" /> <div class="destination__card__details">
                    <div>
                        <h4>Elegant Urban Retreat</h4> <p>MBOMBELA, SA</p>
                    </div>
                    <div class="destination__rating">
                        <span><i class="ri-star-fill"></i></span> 4.5
                    </div>
                </div>
            </div>
            <div class="destination__card">
                <img src="/home/img/destination-3.jpg" alt="hotel location" /> <div class="destination__card__details">
                    <div>
                        <h4>Serene Resort Escape</h4> <p>MBOMBELA, SA</p>
                    </div>
                    <div class="destination__rating">
                        <span><i class="ri-star-fill"></i></span> 4.8
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section__container journey__container" id="room"> <h2 class="section__header">Your Hotel Stay Made Simple!</h2> <p class="section__description">
            Effortless Booking for Your Next Stay </p>
        <div class="journey__grid">
            <div class="journey__card">
                <div class="journey__card__bg">
                    <span><i class="ri-bookmark-3-line"></i></span>
                    <h4>Seamless Booking Process</h4>
                </div>
                <div class="journey__card__content">
                    <span><i class="ri-bookmark-3-line"></i></span>
                    <h4>Easy Reservations, One Click Away</h4>
                    <p>
                        From rooms and amenities to dining and local activities, everything you need is available at your fingertips, making stay planning effortless. </p>
                </div>
            </div>
            <div class="journey__card">
                <div class="journey__card__bg">
                    <span><i class="ri-hotel-bed-fill"></i></span> <h4>Personalized Stays</h4> </div>
                <div class="journey__card__content">
                    <span><i class="ri-hotel-bed-fill"></i></span> <h4>Packages Tailored to Your Needs</h4> <p>
                        Enjoy personalized stay plans designed to match your preferences. Whether you seek relaxation or local immersion, our tailored packages ensure your stay is uniquely yours. </p>
                </div>
            </div>
            <div class="journey__card">
                <div class="journey__card__bg">
                    <span><i class="ri-map-pin-user-line"></i></span> <h4>Expert Concierge Service</h4> </div>
                <div class="journey__card__content">
                    <span><i class="ri-map-pin-user-line"></i></span> <h4>Insider Tips and Recommendations</h4>
                    <p>
                        We provide curated recommendations for dining, sightseeing, and hidden local gems, so you can experience each location like a local during your stay. </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section__container showcase__container" id="package">
        <div class="showcase__image">
            <img src="/home/img/showcase.jpg" alt="hotel interior" /> </div>
        <div class="showcase__content">
            <h4>INDULGE IN COMFORT WITH SIZA</h4> <p>
                Experience accommodation like no other with SIZA, where your comfort needs are met. Our mission is to provide and facilitate exceptional stays, whether you seek the vibrant energy of city center hotels, the serene beauty of resort locations, or the
                convenience of properties near historic sites. At SIZA, we provide expertly managed hotels and personalized stay packages, ensuring that every stay is tailored to your unique preferences. Discover exceptional comfort, immerse yourself in local luxury,
                and create unforgettable memories that will last a lifetime. </p>
            <p>
                With SIZA as your ultimate accommodation partner, enjoying the comforts of our hotels has never been easier. Our concierge services and local recommendations give you the tools to enjoy the local area with confidence and excitement. From the moment you start planning
                to the day you check out, we are dedicated to making your stay seamless and enriching. </p>
            <div class="showcase__btn">
                <button class="btn">
                    Book Your Stay Now <span><i class="ri-arrow-right-line"></i></span>
                </button>
            </div>
        </div>
    </section>

    <section class="section__container banner__container">
        <div class="banner__card">
            <h4>10+</h4>
            <p>Years Experience</p>
        </div>
        <div class="banner__card">
            <h4>12K</h4>
            <p>Happy Guests</p> </div>
        <div class="banner__card">
            <h4>4.8</h4>
            <p>Overall Ratings</p>
        </div>
    </section>

    <section class="section__container discover__container">
        <h2 class="section__header">Discover Our Hotel Features</h2> <p class="section__description">
            Experience Premium Comfort and Services </p>
        <div class="discover__grid">
            <div class="discover__card">
                <span><i class="ri-hotel-line"></i></span> <h4>Luxurious Suites</h4> <p>
                    Indulge in spacious suites with premium furnishings, modern amenities, and stunning views, offering a unique level of comfort. </p>
            </div>
            <div class="discover__card">
                <span><i class="ri-service-line"></i></span> <h4>Relaxing Amenities</h4> <p>
                    Unwind with our state-of-the-art facilities, including pools, spas, fitness centers, and fine dining options. </p>
            </div>
            <div class="discover__card">
                <span><i class="ri-map-pin-line"></i></span> <h4>Prime Locations</h4> <p>
                    Stay conveniently close to key attractions, business districts, and transport hubs, making exploration easy and accessible. </p>
            </div>
        </div>
    </section>

    <section class="section__container client__container">
        <h2 class="section__header">Loved By Over Thousand Guests</h2> <p class="section__description">
            Discover the stories of comfort and cherished memories through the eyes of our valued guests. </p>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="client__card">
                        <div class="client__content">
                            <div class="client__rating">
                                <span><i class="ri-star-fill"></i></span>
                                <span><i class="ri-star-fill"></i></span>
                                <span><i class="ri-star-fill"></i></span>
                                <span><i class="ri-star-fill"></i></span>
                                <span><i class="ri-star-fill"></i></span>
                            </div>
                            <p>
                                SIZA has completely transformed my hotel experience. From finding the perfect room with a view to discovering the relaxing atmosphere of their lounges, every detail was thoughtfully arranged. I can't recommend SIZA enough for anyone looking to elevate
                                their stay! </p>
                        </div>
                        <div class="client__details">
                            <img src="/home/img/client-1.jpg" alt="guest" /> <div>
                                <h4>SIYABONGA MASHIMANE</h4>
                                <h5>Frequent Guest</h5> </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="client__card">
                        <div class="client__content">
                            <div class="client__rating">
                                <span><i class="ri-star-fill"></i></span>
                                <span><i class="ri-star-fill"></i></span>
                                <span><i class="ri-star-fill"></i></span>
                                <span><i class="ri-star-fill"></i></span>
                                <span><i class="ri-star-fill"></i></span>
                            </div>
                            <p>
                                My recent stay with SIZA was nothing short of spectacular. The personalized service and wonderful amenities they provided led to an extraordinary experience that I haven't found elsewhere. I'm already planning my next stay with them! </p>
                        </div>
                        <div class="client__details">
                            <img src="/home/img/client-2.jpg" alt="guest" /> <div>
                                <h4>INNOCIA NKOSI</h4>
                                <h5>Vacationer</h5> </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="client__card">
                        <div class="client__content">
                            <div class="client__rating">
                                <span><i class="ri-star-fill"></i></span>
                                <span><i class="ri-star-fill"></i></span>
                                <span><i class="ri-star-fill"></i></span>
                                <span><i class="ri-star-fill"></i></span>
                                <span><i class="ri-star-fill"></i></span>
                            </div>
                            <p>
                                SIZA offered a transformative experience for my research trip. The convenient location and excellent service provided a new level of comfort and made my work easier. I highly recommend their hotels to fellow researchers
                                and professionals. </p>
                        </div>
                        <div class="client__details">
                            <img src="/home/img/client-3.jpg" alt="guest" /> <div>
                                <h4>Sarah THOBEJANE</h4>
                                <h5>Researcher</h5> </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="client__card">
                        <div class="client__content">
                            <div class="client__rating">
                                <span><i class="ri-star-fill"></i></span>
                                <span><i class="ri-star-fill"></i></span>
                                <span><i class="ri-star-fill"></i></span>
                                <span><i class="ri-star-fill"></i></span>
                                <span><i class="ri-star-fill"></i></span>
                            </div>
                            <p>
                                Finding a balance between work and relaxation during business trips can be challenging, but SIZA made it effortless. Their efficient service and excellent amenities helped me maximize my productivity and enjoy downtime. I look forward to staying with them
                                again on future business travels. </p>
                        </div>
                        <div class="client__details">
                            <img src="/home/img/client-4.jpg" alt="guest" /> <div>
                                <h4>Nimrod Patel</h4>
                                <h5>Business Executive</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="contact">
        <div class="section__container footer__container">
            <div class="footer__col">
                <div class="footer__logo">
                    <a href="#" class="logo">SIZA</a> </div>
                <p>
                    Experience exceptional stays with ease and comfort through our comprehensive hotel platform. Your journey into relaxation begins here, where seamless booking meets unforgettable hospitality. </p>
                <ul class="footer__socials">
                    <li>
                        <a href="#"><i class="ri-facebook-fill"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="ri-instagram-line"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="ri-youtube-line"></i></a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h4>Quick Links</h4>
                <ul class="footer__links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Rooms</a></li> <li><a href="#">Dining</a></li> <li><a href="#">Amenities</a></li> </ul>
            </div>
            <div class="footer__col">
                <h4>Contact Us</h4>
                <ul class="footer__links">
                    <li>
                        <a href="#">
                            <span><i class="ri-phone-fill"></i></span> 0793014476
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><i class="ri-record-mail-line"></i></span> info@siza.com </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><i class="ri-map-pin-2-fill"></i></span> Cnr R40 and D725 Roads, Mbombela, 1200
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h4>Subscribe</h4>
                <form action="/">
                    <input type="text" placeholder="Enter your email" />
                    <button class="btn">Subscribe</button>
                </form>
            </div>
        </div>
        <div class="footer__bar">
            Copyright © 2025 Web Siza. All rights reserved. </div>
    </footer>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/home/js/main.js"></script>
</body>

</html>